.App {
  text-align: center;
  font-family: 'calibri light';
  padding: 2rem;
}

::-webkit-scrollbar {
  width:15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  }

::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}